#content {
    background-color: red;
    height: 600px;
    width: auto;
}

#mortal {
    display: block;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Monofett', cursive;
    font-size: 50px;

}

