#content {
    background-color: red;
    height: 800px;
    width: auto;
}

#unless {
    text-align: center;
}

#just {
    text-align: right;
}

#mortal {
    display: block;
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: 'Monofett', cursive;
    font-size: 50px;

}

