
html , body {
    margin: 0;
    height: 100%;
    box-sizing: border-box;
}
body {
    padding: 5px;
}
.alert-info.hidden-on-mobile {
    display: none;
}

h1 {
    float: left;
}

.nav-links {
    float: right;
    padding-top: 10px;
}

li {
    display: inline-block;
    padding: 5px;
}

a {
    text-decoration: none;
}

section#main.main {

    float: left;

}

section.sub-section {

    height: 50%;
    float: left;
    padding-left: 10px;

}

.header-img>img {

}

footer {
    clear: both;
}

footer p {
    height: auto;
    padding: 0;
    float: left;
}

div#social-media-links > a{
    float: right;
    padding-top: 15px;
    padding-right: 5px;

}
#social-media-links a {
    padding: 25px;
}
@media screen and (max-width:768px) {
    .nav-links li {
        display: block;
        width: 95%;
        background-color: lightgrey;
        margin-bottom: 10px;
        padding: 5px;
        float: left;
    }

    .nav-links {
        float: none;
        text-align: center;
        padding-left: 0;
    }

    li {
        display: block;

    }

    section.sub-section {
        float: none;
        width:auto;
        padding-left: 0;
        margin: 0;
        font-style: italic;
    }

    section#main.main {
        width: auto;
        float: none;
        font-family: sans-serif;
    }

    .alert-info.hidden-on-mobile {
        display: block;
        width: 95%;
        background-color: turquoise;
        text-align: center;
        border: 2px solid #d3d3d3;
    }

    h1 {
        width: 94%;
        text-align: center;
    }

    .header-img>img {
        display: inline-block;
        max-width: 98%;

    }
    body {
        padding: 5px;
    }
    #social-media-links a {
        padding: 0;
    }



}