header {
    text-align: center;

}

.fancy-header {
    color: #ff0e00;
    font-family: sans-serif;
}

h2 {
    color: darkgreen;
    text-decoration: underline;

}

html {
    color: red;
}

body {
    background-image: url("../img/rm.jpeg" );
    background-repeat: repeat;
    font-family: 'saira semi condensed', sans-serif;
    color:red;
    font-weight: bolder;
}

div {

}


html {
    background-color: #000101;
}

td,th {
    padding: 8px;
    border: 4px solid #ff0e00;
    color: #000101;
}

ul, ol {
    color: #ff0e00;
    list-style-type: armenian;
}

.link:hover {
    color: #11ffa2;
}